<template>
  <!-- SECONDARY HEADER -->
  <div>
    <div style="display: flex">
      <nuxt-link
        v-for="(item, index) in secondaryHeaderItems"
        :key="index"
        class="secondary-header"
        :class="{
          'secondary-header-selected': checkIsOnRoute(item.contain),
        }"
        :to="item.to"
      >
        {{ item.name }}
      </nuxt-link>
    </div>
    <nuxt-child />
  </div>
</template>

<script>
export default {
  data() {
    return {
      routeName: this.$nuxt.$route.path,
      // ADD SECONDARY HEADER ITEMS HERE
      secondaryHeaderItems: [
        {
          to: '/maintab1/mainheader1/secondaryheader1',
          name: 'Video Resumes',
          contain: 'secondaryheader1',
        },
        {
          to: '/maintab1/mainheader1/secondaryheader2',
          name: 'Softcopy Resume',
          contain: 'secondaryheader2',
        },
        // {
        //   to: '/maintab1/mainheader1/secondaryheader3',
        //   name: '2nd-Tab 3',
        //   contain: 'secondaryheader3',
        // },
        // {
        //   to: '/maintab1/mainheader1/secondaryheader4',
        //   name: '2nd-Tab 4',
        //   contain: 'secondaryheader4',
        // },
      ],
    }
  },
  methods: {
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.secondary-header {
  cursor: pointer;
  margin: 0vw;
  margin-right: 0vw;
  font-size: 3.5vw;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .secondary-header {
    margin: 0vw;
    margin-right: 0vw;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
  }
}

.secondary-header-selected {
  background-color: lightgrey;
}
</style>
