<template>
  <div>
    <!-- RESUME LISTING -->
    <v-container style="margin-top: 10px">
      <v-row style="margin-bottom: 50px">
        <v-col
          style="padding: 3px"
          cols="6"
          md="6"
          lg="3"
          v-for="(item, index) in recordItems"
          :key="index"
        >
          <div>
            <div style="">
              <!-- ON CLICK REDIRECT TO RESUME DETAILS -->
              <v-img
                :lazy-src="item.src"
                :src="item.src"
                style="border-radius: 7px"
                aspect-ratio=".8"
                @click="$router.push(`/resume/${item.id}`)"
              >
                <div style="display: flex; height: 100%">
                  <div
                    style="
                      display: inline-block;
                      align-self: flex-end;
                      margin: 10px;
                    "
                  >
                    <!-- ITEM TITLE -->
                    <div style="color: white; font-weight: bold">
                      {{ item.title }}
                    </div>
                    <div style="display: flex">
                      <img
                        src="/icons8-facebook-like-50.png"
                        style="height: 13px; margin: 5px; margin-right: 10px"
                      />
                      <!-- ITEM LIKES -->
                      <div style="color: white; font-weight: bold">
                        {{ item.id }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- IMAGE LOADING PLACEHOLDER -->
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recordItems: [
        {
          src: 'https://picsum.photos/300/200',
          id: Math.floor(Math.random() * 10),
          title: 'TEST 1',
        },
        {
          src: 'https://picsum.photos/300/200',
          id: Math.floor(Math.random() * 10),
          title: 'TEST 2',
        },
        {
          src: 'https://picsum.photos/300/200',
          id: Math.floor(Math.random() * 10),
          title: 'TEST 3',
        },
        {
          src: 'https://picsum.photos/300/200',
          id: Math.floor(Math.random() * 10),
          title: 'TEST 4',
        },
        {
          src: 'https://picsum.photos/300/200',
          id: Math.floor(Math.random() * 10),
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
