<template>
  <div>
    <!-- UPLOAD FILE -->
    <div style="font-size: 30px; text-align: center; margin: 50px">
      UPLOAD FILE
    </div>
    <!-- IF THERE IS A VALID INPUT FILE SHOW A PREVIEW OF THE VIDEO ELSE HIDE THE VIDEO PLAYER -->
    <v-container style="padding: 0px; margin-top: 30px; margin-bottom: 30px">
      <v-row v-if="file" align="center" style="margin: 0px">
        <v-col align="center" style="padding: 0px">
          <video-player
            class=""
            style="max-width: 600px"
            ref="videoPlayer"
            :options="playerOptions"
          />
        </v-col>
      </v-row>
    </v-container>
    <!-- INPUT FILE  -->
    <v-file-input
      prepend-icon="mdi-video"
      accept="video/mp4,video/x-m4v,video/*"
      show-size
      counter
      outlined
      dense
      label="File input"
      @change="onFileInput"
    ></v-file-input>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'

export default {
  data() {
    return {
      file: null,
      imageBase64: null,
      videoUrl: null,
      // PLAYER OPTIONS // MORE OPTIONS AT https://docs.videojs.com/docs/api/player.html
      playerOptions: {
        autoplay: 'muted',
        language: 'en',
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        width: 600,
        fluid: true,
        sources: [
          {
            type: 'video/mp4',
            src: '',
          },
        ],

        poster: '/static/images/author.jpg',
      },
    }
  },
  components: {
    videoPlayer,
  },
  methods: {
    onFileInput(file) {
      if (file) {
        this.file = file
        this.playerOptions.sources[0].type = file.type
        this.playerOptions.sources[0].src = URL.createObjectURL(file)
      } else {
        this.playerOptions.sources[0].src = null
        this.file = null
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
