<template>
  <!-- ACTION BAR COMPONENTS -->
  <div>
    <div class="action-bar-style-1">
      <div style="display: flex; width: 100%">
        <img src="/icons8-back-48.png" width="50px" @click="$router.back()" />
        <!-- PURCHASE BUTTON CONDITION -->
        <div
          v-if="hasPurchaseBtn"
          style="
            align-self: center;
            margin-right: 30px;
            margin-left: auto;
            cursor: pointer;
          "
          @click="onPurchaseClick"
        >
          Purchase
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    hasPurchaseBtn: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onPurchaseClick() {
      this.$router.push('/payment/123')
    },
  },
}
</script>

<style lang="scss" scoped>
.action-bar-style-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
  height: 50px;
  z-index: 9999;
}
</style>
