<template>
  <div>
    <!-- USING THE ACTIONBAR COMPONENT -->
    <action-bar :hasPurchaseBtn="true" />
    <v-container style="padding: 0px; margin-top: 50px">
      <v-row align="center" style="margin: 0px">
        <v-col align="center" style="padding: 0px">
          <!-- VIDEO PLAYER: POSSIBLE VIDEO PLAYER OPTIONS AT THE BOTTOM -->
          <video-player
            class=""
            style="max-width: 800px"
            ref="videoPlayer"
            :options="playerOptions"
          />
        </v-col>
      </v-row>
      <!-- RESUME INFORMATION / DETAILS -->
      <v-row style="margin-bottom: 50px">
        <v-container style="margin: 30px">
          <v-row class="">
            <v-col>
              <!-- ITEM CODE -->
              <div style="font-size: 25px; font-weight: bold">
                <!-- {{ item.code }} -->
                {{ uuid }}
              </div>
              <div style="font-size: 20px; margin-bottom: 10px">
                <!-- ITEM PERSON'S NAME -->
                <!-- {{ item.name }} -->
                <b>
                  {{ resumeName }}
                </b>
              </div>
              <div>
                <!-- SKILL SET -->
                <b>Skills</b> : C++, C, Java, Jdbc, Servlets, Jsp, SQL, Web
                services, Linux/Unix Shell programming, Linux System programming
                Android Developer tools, Android Studio, MySQL, Eclipse.
              </div>
              <br />
              <!-- RESUME DESCRIPTION  -->
              <div>
                {{ paragraphs }}
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
import ActionBar from '~/components/ActionBar.vue'
import faker from 'faker'

export default {
  components: {
    videoPlayer,
  },
  props: {
    // itemSelected: {
    //   type: Object,
    //   default: {},
    // },
  },
  data() {
    return {
      item: {},
      // PLAYER OPTIONS // MORE OPTIONS AT https://docs.videojs.com/docs/api/player.html
      playerOptions: {
        autoplay: 'muted',
        aspectRatio: '20:15',
        language: 'en',
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        fluid: true,
        sources: [
          {
            type: 'video/mp4',
            src: null,
          },
        ],
        poster: '/static/images/author.jpg',
      },
    }
  },
  computed: {
    uuid() {
      return faker.finance.creditCardNumber()
    },
    resumeName() {
      return faker.name.findName()
    },
    catchPhrase() {
      return faker.company.catchPhraseDescriptor()
    },
    paragraphs() {
      return faker.lorem.paragraphs()
    },
  },
  methods: {},
  created() {
    if (this.$route.params.id == 1) {
      this.playerOptions.sources[0].src =
        'https://www.jobsncandidates.com/videos/b2ea372875a5da530d11155b559f5a8d.mp4'
    } else if (this.$route.params.id == 2) {
      this.playerOptions.sources[0].src =
        'https://www.jobsncandidates.com/videos/9199866d8d88011fa856a5506c19fecf.mp4'
    } else if (this.$route.params.id == 3) {
      this.playerOptions.sources[0].src =
        'https://www.jobsncandidates.com/videos/bce9674f4a9159589dd7b20b3d918da4.mp4'
    } else if (this.$route.params.id == 4) {
      this.playerOptions.sources[0].src =
        'https://www.jobsncandidates.com/videos/0c7811c3f72fc4c5c4109f2f881f18cc.mp4'
    } else {
      this.playerOptions.sources[0].src =
        'https://www.jobsncandidates.com/videos/b2ea372875a5da530d11155b559f5a8d.mp4'
    }
  },
  beforeMount() {
    // this.itemSelected = this.item
  },
}
</script>

<style lang="scss" scoped>
@media screen and (min-width: 800px) {
}
</style>
