<template>
  <v-app>
    <v-main>
      <v-container class="px-0 pt-0">
        <nuxt :key="$nuxt.$route.path" />
        <div class="v-tab-bar">
          <div v-for="navItem in navItems">
            <nuxt-link
              class="v-tab-bar-item"
              :class="{ 'with-label': navItem.label }"
              :to="navItem.to"
            >
              <img :src="navItem.image" style="height: 20px; margin-top: 5px" />
              <div class="v-tab-bar-item-label" v-if="navItem.label">
                {{ navItem.label }}
              </div>
            </nuxt-link>
          </div>
        </div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      // NAVIGATION BAR ITEMS
      navItems: [
        {
          label: 'Home',
          to: '/maintab1/mainheader1/secondaryheader1',
          image: '/icons8-home-50.png',
        },
        {
          label: 'Tab 2',
          to: '/maintab2',
          image: '/icons8-video-50.png',
        },
        {
          label: 'Tab 3',
          to: '/maintab3',
          image: '/icons8-delete-message-50.png',
        },
        {
          label: 'Tab 4',
          to: '/maintab4',
          image: '/icons8-eye-50.png',
        },
        {
          label: 'Tab 5',
          to: '/maintab5',
          image: '/icons8-customer-50.png',
        },
      ],
    }
  },
}
</script>

<style lang="css" scoped>
.v-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
  height: 45px;
  justify-content: space-around;
  z-index: 9999;
}

@media screen and (min-width: 800px) {
  .v-tab-bar {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.v-tab-bar-router-view {
  margin-bottom: 45px;
}

.v-tab-bar .v-tab-bar-item {
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  flex: 1 0 0;
  text-align: center;
  color: #777;
  text-decoration: none;
}
.v-tab-bar .v-tab-bar-item.with-label {
  padding-top: 5px;
}
.v-tab-bar .v-tab-bar-item.with-label i {
  font-size: 1.6em;
}
.v-tab-bar .v-tab-bar-item i {
  font-size: 2em;
}
.v-tab-bar .v-tab-bar-item i.inactive {
  display: block;
}
.v-tab-bar .v-tab-bar-item i.active {
  display: none;
}
.v-tab-bar .v-tab-bar-item.router-link-active {
  color: #337ab7;
}
.v-tab-bar .v-tab-bar-item.router-link-active i.inactive {
  display: none;
}
.v-tab-bar .v-tab-bar-item.router-link-active i.active {
  display: block;
}
.v-tab-bar .v-tab-bar-item .v-tab-bar-item-label {
  font-size: 10px;
  line-height: 10px;
}
.v-tab--active {
  font-size: 19px;
}
</style>
