<template>
  <div>
    <!-- <v-container style="margin: 10px">
      <v-row style="margin-bottom: 50px">
        <v-col
          style="padding: 3px"
          cols="6"
          md="6"
          lg="3"
          v-for="item in recordItems"
        >
          <div>
            <div style="">
              <v-img
                lazy-src="https://picsum.photos/id/11/10/6"
                src="https://picsum.photos/id/11/500/300"
                style="border-radius: 7px"
                height="35vh"
              >
                <div style="display: flex; height: 100%">
                  <div
                    style="
                      display: inline-block;
                      align-self: flex-end;
                      margin: 10px;
                    "
                  >
                    <div style="color: white; font-weight: bold">
                      TEST TITLE
                    </div>
                    <div style="display: flex">
                      <img
                        src="/icons8-facebook-like-50.png"
                        style="height: 13px; margin: 5px; margin-right: 10px"
                      />
                      <div style="color: white; font-weight: bold">999</div>
                    </div>
                  </div>
                </div>
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container> -->
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  created() {
    this.$router.push('/maintab1/mainheader1/secondaryheader1')
  },
}
</script>

<style lang="css" scoped>
body {
  overflow: hidden;
}
</style>
