<template>
  <v-container>
    <div style="display: flex; margin-bottom: 13px">
      <div v-for="(tabItem, index) in mainTabItems" :key="index">
        <!-- LINK TO OTHER TAB -->
        <nuxt-link
          style="color: black; text-decoration: none"
          :to="tabItem.to"
          class="main-header"
          :class="{
            'main-header-selected': checkIsOnRoute(tabItem.contain),
          }"
          >{{ tabItem.name }}</nuxt-link
        >
        <!-- IF SELECTED ADD TINY BAR AT THE BOTTOM -->
        <div v-if="checkIsOnRoute(tabItem.contain)" class="bar-selected"></div>
      </div>
    </div>
    <nuxt-child />
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      routeName: this.$nuxt.$route.path,
      // ADD MAIN TAB ITEMS
      mainTabItems: [
        {
          to: '/maintab1/mainheader1/secondaryheader1',
          name: 'Main',
          contain: 'mainheader1',
        },
        {
          to: '/maintab1/mainheader2',
          name: 'View More',
          contain: 'mainheader2',
        },
      ],
    }
  },
  methods: {
    // CHECK IF THE ROUTE PAGE IS ON THE SAME TAB
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.main-header {
  cursor: pointer;
  margin: 2vh;
  font-size: 7vw;
}

@media screen and (min-width: 800px) {
  .main-header {
    margin: 2vh;
    font-size: 40px;
  }
}

.main-header-selected {
  font-size: 35px;
  font-weight: bold;
}

.bar-selected {
  border-bottom: 5px solid black;
  width: 10px;
  border-radius: 2px;
  margin: auto;
  margin-top: -3px;
}
</style>
