<template>
  <div>
    <ActionBar />
    <div style="margin-top: 50px">
      <v-container>
        <v-row>
          <v-col>
            <div style="font-size: 30px">Purchase Now</div>
            <div>JOHN DOE RESUME</div>
            <div>xxxx-xxxx-xxxx</div>
            <div style="margin: 50px"></div>
            <!-- IPAY88: ADD ALL THE NECESSARY INPUT FIELDS FOR IPAY88 -->
            <v-text-field
              label="Name"
              v-model="payment.member_name"
            ></v-text-field>
            <v-text-field
              label="Contact No"
              v-model="payment.member_contact"
            ></v-text-field>
            <v-text-field
              label="Email"
              v-model="payment.member_email"
            ></v-text-field>
            <v-btn
              style="margin-top: 20px"
              block
              elevation="2"
              rounded
              x-large
              @click="confirmPayment"
              >PAY NOW</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </div>
    <!-- PASS ALL THESE INFORMATION TO IPAY88 IN ORDER TO GO TO IPAY88 PAGE -->
    <!-- IF FAIL WILL RETURN BACK TO THE RESPONSE URL -->
    <form
      ref="form"
      :action="ipay88Link"
      target="_self"
      method="POST"
      name="ePayment"
    >
      <input type="hidden" name="MerchantCode" :value="payment.merchant_code" />
      <input type="hidden" name="PaymentId" value />
      <input type="hidden" name="RefNo" :value="payment.reference_number" />
      <input type="hidden" name="Amount" :value="payment.total_amount" />
      <input type="hidden" name="Currency" value="MYR" />
      <input type="hidden" name="ProdDesc" value="Billing Payment" />
      <input type="hidden" name="UserName" :value="payment.member_name" />
      <input type="hidden" name="UserEmail" :value="payment.member_email" />
      <input type="hidden" name="UserContact" :value="payment.member_contact" />
      <input
        type="hidden"
        name="Remark"
        :value="'Selfcare App - ' + Date.now() + payment.reference_number"
      />
      <input type="hidden" name="Lang" value="" />
      <input type="hidden" name="Signature" :value="payment.signature" />
      <input type="hidden" name="ResponseURL" :value="responseUrl" />
      <input type="hidden" name="BackendURL" :value="backendUrl" />
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      ipay88Link: 'https://payment.ipay88.com.my/epayment/entry.asp',
      record: {
        name: '',
        contact_no: '',
        email: '',
      },
      // IPAY INFORMATION NEEDED
      payment: {
        merchant_code: '',
        reference_number: '',
        total_amount: '',
        member_name: '',
        member_contact: '',
        reference_number: '',
        signature: '',
      },
      responseUrl: 'https://localhost:8080' + '/payment/response',
      backendUrl: 'https://localhost:8080' + '/payment/backend-response',
    }
  },
  methods: {
    confirmPayment() {
      this.$refs.form.submit()
    },
  },
}
</script>

<style lang="scss" scoped></style>
